<ol class="comment">
<% @post.comments.reorder('created_at desc').each do |comment| %>
  <hr>
	<li class="comment"><strong><%= comment.post.user.screen_name %>:</strong>
	<%= comment.content %><br/>
	<div>
	<em><%= comment.created_at.strftime("%b%d at %k:%M") %></em>
	</div>
	<% if current_user == comment.post.user %>
	  
	  <%= link_to 'delete', [@post, comment], :method => :delete %>
    <% end %>
	</li>

<% end %>
</ol>

	