body {
  background-color: #fff;
  color: #333;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 90%;
  # line-height: 18px; }

p, ol, ul, td {
  # font-family: verdana, arial, helvetica, sans-serif;
  # font-size: 13px;
  line-height: 18px;
}
ol.comment {
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}
li.comment {
  margin-left: 20px;
}

td.right {
  margin: auto 80px;
}
p.right {
  margin-left: 40px;
}


div#flash_notice {
  padding: 0px;
  text-align: center;
  background: #bdc;
  margin: auto;
  width: 260px;
  border: 1px black; }

p.notice {
  padding: 10px 23px;
  text-align: center;
  background: #ccc;
  margin: 0px auto 0px auto;
  width: 260px;
  border: 1px black;
  color: #000;
  font-size: 16px;
  font-weight: bold; }
p.alert {
  background-color: #ef7777;
}

nav {
  background-color: black;
  padding: 1em .7em;
  white-space: nowrap;
  text-align: center;
  font-size: 14px; }

div.slam {
  margin-top: -50px; }

div.big {
  font-size: 20px;
  padding: 25px 10px;
  background:#000;
  color: white; }

.signup_field {
  margin-left: auto;
  margin-right: auto;
  padding-left: 38px;
  padding-top: 0px;
  margin-top: 15px;
  background-color: #ddd;
  line-height: 25px; }

.signin_field {
  width: 125px;
  margin: auto; }

.area {
  width: 302px;
  height: 50px;
  margin: 0px -29px;
  font-size: 18px; }

table.comments {
  width: 100%;
}
td.right {
  text-align: right;
}
.center {
  text-align: center;
}
table.bio {
  padding-top: 0px;
  width:100%;
  
}

h2 {
  text-align: center;
  margin: auto auto;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black;
  &:visited {
  color: black; }
  &:hover {
  color: #666; } }

nav.header a {
  color: #666;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

a.chill {
  color: black;
  &:hover {
  color:#fff; } }

nav.edit_delete a {
  color: black;
  &:visited {
  color: black; } 
  &:hover {
  color: #fff; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }	

.container {
  width: 250px;
  box-shadow: 0px 0px 70px #555;
  margin: 0 auto;
  padding: 4em 2em;
}
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
